<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if member_signed_in? %>
      <%= link_to current_member.email, edit_member_registration_path %>
      <%= button_to("Log out", destroy_member_session_path, method: :delete) %>
    <% else %>
      <%= link_to "Log in", new_member_session_path %>
      <%= link_to "Register", new_member_registration_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
